#logo{
	margin-left: 80px;
    margin-top: 0px;
    float: left;
    padding: 0px;
    display: block;
}

li{
	/*position: relative;*/
	text-align: center;
	display: inline-block;
	margin-left: 10px;
	/*padding: 0px -50px;*/
	margin-top: 20px;
	letter-spacing: .01px;
}

header ul{
	text-align: right;
}
header{
	height: 65px;
	width: auto;
	font-family: roboto slab medium;
}
a:hover {
	color: #AED57C;
}

header ul li a{
	color: #000;
	font-weight: 300;
	text-decoration: none;
	max-width: 10px;
	font-weight: 400;

}


header ul li:last-child {
	color: #EF9E6E; /* this color changing code is not working*/
	background-color: #aed57c;
	border-radius: 3px;
	padding: 10px;
	background-position:center;
	text-decoration:none;

}
/*asif look here. Is this ok?*/
a:last-child + a:hover{
	color: #000000;
	text-decoration: none;
	font-weight: 30px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
	position: relative;
}
